@font-face {
    font-family:'barlow' ;
    src: url(../fuentes/Barlow-Bold.ttf);
}
@font-face {
    font-family:'open' ;
    src: url(../fuentes/open-sauce.sans-semibold.ttf);
}
@font-face {
    font-family:'play' ;
    src: url(../fuentes/PlayfairDisplay-Black.ttf);
}
body{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.922);
    width: 1920px;
  
}
.PaginaPrincipal__Seccion1--logo{
    position: absolute;
    font-family: 'barlow';
    color: white;
    font-size: 30px;
    left: 250px;
    top:-6px;
}
.PaginaPrincipal__Seccion1--home{
    position: absolute;
    font-family: 'open';
    color: white;
    font-size: 20px;
    top:10px;
    left: 950px;
}
.PaginaPrincipal__Seccion1--home :hover{
    text-decoration: underline;
    text-decoration-color: #ce9e5a;
}
.PaginaPrincipal__Seccion1--about{
    position: absolute;
    font-family: 'open';
    color: white;
    font-size: 20px;
    top:10px;
    left: 1050px;
}
.PaginaPrincipal__Seccion1--about:hover{
    text-decoration: underline;
    text-decoration-color: #ce9e5a;
}
.PaginaPrincipal__Seccion1--menu{
    position: absolute;
    font-family: 'open';
    color: white;
    font-size: 20px;
    top:10px;
    left: 1150px;
}
.PaginaPrincipal__Seccion1--menu:hover{
    text-decoration: underline;
    text-decoration-color: #ce9e5a;
}
.PaginaPrincipal__Seccion1--contact{
    position: absolute;
    font-family: 'open';
    color: white;
    font-size: 20px;
    top:10px;
    left: 1240px;
}
.PaginaPrincipal__Seccion1--contact:hover{
    text-decoration: underline;
    text-decoration-color: #ce9e5a;
}

.PaginaPrincipal__Seccion1--start{
    position: absolute;
    font-family: 'play';
    color: white;
    font-size: 70px;
    top:80px;
    left: 480px;
}
.PaginaPrincipal__Seccion1--img1{
    position: absolute;
    top: -150px;
    width: 1820px;
    height: 1220px;
    left: -150px;
}
.PaginaPrincipal__Seccion1--with{
    position: absolute;
    font-family: 'play';
    color: white;
    font-size: 70px;
    top:700px;
    left: 450px;
}
.PaginaPrincipal__Seccion1--shop{
    position: absolute;
    font-family: 'open';
    color: black;
    font-size: 15px;
    top:880px;
    text-align: center;
    left: 720px;
    width: 140px;
    height: 40px;
    background-color: #ce9e5a;
    border: #ce9e5a;
}
.PaginaPrincipal__Seccion1--img2{
    position: absolute;
    top: 2000px;
    width: 200px;
    height: 200px;
    left: 150px;
}
.PaginaPrincipal__Seccion1--img3{
    position: absolute;
    top: 2550px;
    width: 80px;
    height: 80px;
    left: 150px;
}