body{
    background-color: white;
}
.grid-container1{
    display: grid;
    width: 73vw;
    background-color: black;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border-radius: 4%;
}

.grid-container2{
    width: 73vw;
    display: grid;
    background-color: black;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border-radius: 4%;
}



.grid-container1>div{
    padding: 1vw;
    background-color: transparent;
}

.grid-container2>div{
    padding: 1vw;
    background-color: transparent;
}

.grid-container1--img1{
    border-radius: 4%;
    width: 20vw ;
    grid-column: 1/2;
}

.grid-container1--img2{
    border-radius: 4%;
    width: 20vw;
    grid-column: 1/2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.grid-container1--img3{
    border-radius: 4%;
    width: 20vw;
    grid-column: 2/3;
    grid-row: 1/3;
}
.grid-container1--img4{
    border-radius: 4%;
    width: 40vw;
    grid-column: 1/3;
    grid-row: 3/4;
}


.grid-container2--img1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    border-radius: 4% ;
    width: 20vw ;
}
.grid-container2--img2{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 4%;
    width: 20vw ;
}
.grid-container2--img3{

    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    border-radius: 4%;
    width: 20vw ;
}
