@font-face {
    font-family: 'regular';
    src: url(../fuentes/OpenSans-Regular.ttf);
}
@font-face{
    font-family: 'semi';
    src: url(../fuentes/OpenSans-SemiBold.ttf);
}

.pagina1{
    right: 0px;
    top: 0px;
    width: 1920px;
    height: 1080px;
    background-image: linear-gradient(#FFFFFF, #E6E6E6, #808080);
    position: absolute;
}
.pagina1__metrolinea{
    position: absolute;
    top: 100px;
    left: 300px;
    width: 1400px;
    height: 800px;
    border: 1px solid #707070;
    background-color: white;

}
.pagina1__metrolinea--logo{
    position: absolute;  
    top: 43px;
    left: 43px;
    width: 196px;
    height: 44px;
}
.pagina1__metrolinea--tarjeta{
    position: absolute; 
    top: 112px;
    left: 127px;
    width: 884px;
    height: 497px;
}
.pagina1__metrolinea--ComprarTarjeta{
    position: absolute; 
    font-family: 'regular';
    font-size: 30px;
    top:15px;
    left:700px ;
    color: #000000;
    
}
.pagina1__metrolinea--VerSaldo{
    position: absolute; 
    font-family: 'regular';
    font-size: 30px;
    top:15px;
    left:972px ;
    color: #000000;
}
.pagina1__metrolinea--lupa{
    position: absolute; 
    top: 54px;
    left: 1124px;
    width: 27px;
    height: 27px;
}
.pagina1__metrolinea--carrito{
    position: absolute; 
    top: 54px;
    left: 1223px;
    width: 33px;
    height: 32px;
}
.pagina1__metrolinea--Saldo{
    position: absolute; 
    font-family:'semi';
    font-size: 40px;
    color: #000000;
    bottom: 51px;
    left: 43px;


}
.pagina1__metrolinea--ValorSaldo{
    position: absolute; 
    font-family:'semi';
    font-size: 27px;
    color: #000000;
    bottom: 11px;
    left: 43px;
}
.pagina1__metrolinea--comprar{
    position: absolute; 
    width: 160px;
    height: 114px;
    background-color: #D5FF43;
    border-radius: 10px;
    font-family:'semi';
    font-size: 26px;
    text-align: end;
    color: #000000;
    top: 632px;
    left: 1080px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.pagina1__metrolinea--logopequeño{
    position: absolute; 
    top: 690px;
    left: 1095px;
    width: 129px;
    height: 29px;
}
.pagina1__metrolinea--linea{
    position: absolute; 
    width: 149px;
    height: 32px;
    left: 740px;
    top: 80px;
    color: #000000;
}

.pagina1__metrolinea2{
    position: absolute;
    top: 100px;
    left: 1589px;
    width: 110px;
    height: 800px;
    background-color: #212020;
    border: 1px solid #212020;
}


.pagina1__metrolinea2--flechaarriba{
    position: absolute;
    top: 58px;
    left: 40px;
    width: 24px;
    height: 14px;
}
.pagina1__metrolinea2--texto{
    position: absolute;
    font-family: 'regular';
    font-size: 20px;
    top: 120px;
    left: 13px;
    color: white;
}
.pagina1__metrolinea2--numero04{
    position: absolute;
    font-family: 'regular';
    font-size: 20px;
    top: 280px;
    left: 43px;
    color: rgba(255, 255, 255, 0.637);
}
.pagina1__metrolinea2--numero05{
    position: absolute;
    font-family: 'regular';
    font-size: 20px;
    top: 380px;
    left: 43px;
    color: white;
}
.pagina1__metrolinea2--numero06{
    position: absolute;
    font-family: 'regular';
    font-size: 20px;
    top: 480px;
    left: 43px;
    color: rgba(255, 255, 255, 0.637);
}
.pagina1__metrolinea2--flechaabajo{
    position: absolute;
    top: 720px;
    left: 40px;
    width: 24px;
    height: 14px;
}







