@font-face {
    font-family: 'regular';
    src: url(../fuentes/OpenSans-Regular.ttf);
}
@font-face{
    font-family: 'semi';
    src: url(../fuentes/OpenSans-SemiBold.ttf);
}
.pagina2{
    right: 0px;
    top: 0px;
    width: 1920px;
    height: 1080px;
    background-image: linear-gradient(#FFFFFF, #E6E6E6, #808080);
    position: absolute;
}
.pagina2__metrolinea{
    position: absolute;
    top: 100px;
    left: 300px;
    width: 1400px;
    height: 800px;
    border: 1px solid #707070;
    background-color: white;

}
.pagina2__metrolinea--logo{
    position: absolute;  
    top: 43px;
    left: 43px;
    width: 196px;
    height: 44px;
}
.pagina2__metrolinea--tarjeta{
    position: absolute; 
    top: 100px;
    left: 350px;
    width: 576px;
    height: 324px;
}
.pagina2__metrolinea--ComprarTarjeta{
    position: absolute; 
    font-family: 'regular';
    font-size: 30px;
    top:15px;
    left:700px ;
    color: #000000;
    
}
.pagina2__metrolinea--VerSaldo{
    position: absolute; 
    font-family: 'regular';
    font-size: 30px;
    top:15px;
    left: 950px;
    color: #000000;
}
.pagina2__metrolinea--lupa{
    position: absolute; 
    top: 54px;
    left: 1124px;
    width: 27px;
    height: 27px;
}
.pagina2__metrolinea--carrito{
    position: absolute; 
    top: 54px;
    left: 1223px;
    width: 33px;
    height: 32px;
}
.pagina2__metrolinea--recargar{
    position: absolute; 
    width: 160px;
    height: 114px;
    background-color: #D5FF43;
    border-radius: 10px;
    font-family:'semi';
    font-size: 26px;
    text-align: end;
    color: #000000;
    top: 632px;
    left: 1080px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.pagina2__metrolinea--logopequeño{
    position: absolute; 
    top: 690px;
    left: 1095px;
    width: 129px;
    height: 29px;
}
.pagina2__metrolinea--linea{
    position: absolute; 
    width: 100px;
    height: 32px;
    left: 967px;
    top: 80px;
    color: #000000;
}
.pagina2__metrolinea--dueño{
    position: absolute;
    font-family: 'semi';
    font-size: 40px;
    top: 350px;
    left: 290px;
    color: #000000;

}
.pagina2__metrolinea--saldoactual{
    position: absolute;
    font-family: 'semi';
    font-size: 27px;
    top: 440px;
    left: 470px;
    color: #000000;
}
.pagina2__metrolinea--saldoescogido{
    position: absolute;
    font-family: 'semi';
    font-size: 27px;
    top: 510px;
    left: 520px;
    color: #000000;
}




.pagina2__metrolinea--seccionsaldoescogido{
    position: absolute;
    width: 288px;
    height: 58px;
    border: 1px;
    border-width: 1px;
    border-color: #707070;
    border-style: solid;
    border-radius: 10px;
    font-family: 'semi';
    font-size: 27px;
    top: 590px;
    left: 468px;
    color: #707070;
    background-color: #FFFFFF;
}





.pagina2__metrolinea2{
    position: absolute;
    top: 100px;
    left: 1589px;
    width: 110px;
    height: 800px;
    background-color: #212020;
    border: 1px solid #212020;
}
.pagina2__metrolinea2--flechaarriba{
    position: absolute;
    top: 58px;
    left: 40px;
    width: 24px;
    height: 14px;
}
.pagina2__metrolinea2--texto{
    position: absolute;
    font-family: 'regular';
    font-size: 20px;
    top: 150px;
    left: 29px;
    color: white;
}
.pagina2__metrolinea2--numero04{
    position: absolute;
    font-family: 'regular';
    font-size: 20px;
    top: 280px;
    left: 29px;
    color: rgba(255, 255, 255, 0.637);
}
.pagina2__metrolinea2--numero05{
    position: absolute;
    font-family: 'regular';
    font-size: 20px;
    top: 380px;
    left: 29px;
    color: white;
}
.pagina2__metrolinea2--numero06{
    position: absolute;
    font-family: 'regular';
    font-size: 20px;
    top: 480px;
    left: 29px;
    color: rgba(255, 255, 255, 0.637);
}
.pagina2__metrolinea2--flechaabajo{
    position: absolute;
    top: 720px;
    left: 40px;
    width: 24px;
    height: 14px;
}
