@font-face {
  
    font-family: "AmazonEmberBold";
    src: url('../fuentes/AmazonEmberBold.ttf')  format("opentype"),; /* Bold */        
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: "AmazonEmberLigth";
    src: url('../fuentes/AmazonEmberLight.ttf')  format("opentype"); /* Light */
    font-weight: normal;
    font-style: normal;
}

:root{
    --background-color:black;
}
body{
    background-color: var(--background-color);
    width: 1920px;
    height: 4149px;
    background-color: black;
}
p{
    position: absolute ;
    color: white;
}

.fondo{ /* fondo de diferentes peliculas y deportes */       
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
}
.lupa{ /* lupa para busqueda */       
    position: absolute;
    top: 37px;
    left: 63px;
    width: 36px;
    height: 36px;
}

.log{ /* texto login */       
    position: absolute;
    text-align: center;
    top: 10px;
    left: 1695px;
    font-family: "AmazonEmberligth", sans-serif;
    font-size: 20px;
    color: black;
    border-radius: 52px;
    padding: 20px;
    background-color: white;
    width: 160px;
    height: 15px;
}

.logo{
    position: absolute;
    top: 227px;
    left: 682px;
    width: 556px;
    height: 313px;
}
.sign{
    position: absolute;
    top: 755px;
    left: 730px;
    width: 458px;
    height: 104px;
    filter: opacity(1);

}
.singup{
    position: absolute;
    top: 710px;
    left: 730px;
    color: black;
    font-size: 40px;
    font-weight: inherit;
    font-family: "AmazonEmberLigth";
    text-align: center;
    border-radius: 52px;
    background-color: white;
    padding: 20px;
    width: 420px;
    height: 67px;

}

#primer{
    position: absolute;
    top: 450px;
    left: 389px;
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: "AmazonEmberBold", sans-serif;
}
#segundo{
    position: absolute;
    top: 580px;
    left: 444px;
    right: 500px; 
    color: white;
    text-align: center ;
    font-family: "AmazonEmberligth", sans-serif;
    font-size: 30px;

}
#tercero{
    position: absolute;
    top: 620px;
    left: 380px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family:  "AmazonEmberligth", sans-serif;
}
#love{
    position: absolute;
    top: 660px;
    right: 940px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family:  "AmazonEmberligth", sans-serif;
}
.parte2{
    position: absolute;
    top: 1086px;
    left: 64px;
    width: 1792px;
    height: 367px;
    width: 1752px;
    height: 567px;
    border-radius: 100px;
    background-color: rgb(35, 165, 224);
    padding: 20px;
}
.tv{
    position: absolute;
    top: 200px;
    left: 700px;
    width: 350px;
    height: 250px;
}
.textico1{
    position: absolute;
    top: 10px;
    left: 300px;
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: "AmazonEmberBold", sans-serif;
}
.textico2{
    position: absolute;
    font-family: 'AmazonEmberLigth';
    font-size: 40px;
    top: 430px;
    left: 250px;
}
.textico3{
    position: absolute;
    font-family: 'AmazonEmberLigth';
    font-size: 40px;
    top: 480px;
    left: 550px;
}

.div2{
    position: absolute;
    top: 1106px;
    left: 64px;
    width: 1792px;
    height: 567px;

}

.parte3{
    position: absolute;
    top: 1757px;
    left: 64px;
    width: 1752px;
    height: 664px;
    border-radius: 100px;
    background-color: rgb(35, 165, 224);
    padding: 20px;

}

.i1{
    position: absolute;
    top: 196px;
    left: 400px;
    width: 181px;
    height: 309px;
    border: 1px solid #707070;

}
.i2{
    position: absolute;
    top: 196px;
    left: 593px;
    width: 181px;
    height: 309px;
    border: 1px solid #707070;

}
.i3{
    position: absolute;
    top: 196px;
    left: 786px;
    width: 180px;
    height: 309px;
    border: 1px solid #707070;
}
.i4{
    position: absolute;
    top: 196px;
    left: 978px;
    width: 181px;
    height: 309px;
    border: 1px solid #707070;

}
.i5{
    position: absolute;
    top: 196px;
    left: 1171px;
    width: 181px;
    height: 309px;
    border: 1px solid #707070;
}
.text1{
    position: absolute;
    top: 10px;
    left: 70px;
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: "AmazonEmberBold", sans-serif;
}
.text2{
    position: absolute;
    top: 530px;
    right: 430px;
    color: white;
    text-align: center;
    font-size: 45px;
    font-family:  "AmazonEmberligth", sans-serif;
}
.text3{
    position: absolute;
    top: 585px;
    left: 200px;
    color: white;
    text-align: center;
    font-size: 45px;
    font-family:  "AmazonEmberligth", sans-serif;
}

.equis{
    position: absolute;
    top: 200px;
    left: 796px;
    width: 169px;
    height: 169px;
}
.text4{
    position: absolute;
    top: 10px;
    right: 540px;
    color: white;
    text-align: center;
    font-size: 60px;
    font-family:  "AmazonEmberBold", sans-serif;
}
.text5{
    position: absolute;
    top: 400px;
    right: 250px;
    color: white;
    text-align: center;
    font-size: 40px;
    font-family:  "AmazonEmberligth", sans-serif;
}
.text6{
    position: absolute;
    top: 450px;
    right: 850px;
    color: white;
    text-align: center;
    font-size: 40px;
    font-family:  "AmazonEmberligth", sans-serif;
}
.parte4{
    position: absolute;
    top: 2497px;
    left: 64px;
    width: 1752px;
    height: 567px;
    border-radius: 100px;
    background-color: rgb(35, 165, 224);
    padding: 20px;
}
.dev{
    position: absolute;
    top: 3050px;
    right: 400px;
    color: white;
    text-align: center;
    font-size: 125px;
    font-family:  "AmazonEmberligth", sans-serif;
}
.iphone{
    position: absolute;
    top: 3706px;
    left: 386px;
    width: 256px;
    height: 219px;
}
.mac{
    position: absolute;
    top: 3540px;
    left: 685px;
    width: 584px;
    height: 534px;
}
.pc{
    position: absolute;
    top: 3687px;
    left: 1261px;
    width: 271px;
    height: 238px;
}
.flecha{
    position: absolute;
    top: 3789px;
    left: 305px;
    width: 19px;
    height: 27px;
}
.flecha2{
    position: absolute;
    top: 3789px;
    left: 1575px;
    width: 19px;
    height: 27px;
    transform: rotate(180deg);
}
.text7{
    position: absolute;
    top: 3330px;
    right: 150px;
    color: white;
    text-align: center;
    font-size: 45px;
    font-family:  "AmazonEmberligth", sans-serif;
}
.text8{
    position: absolute;
    top: 3380px;
    right: 750px;
    color: white;
    text-align: center;
    font-size: 45px;
    font-family:  "AmazonEmberligth", sans-serif;
}
.fin1{
    position: absolute;
    top: 4088px;
    left: 600px;
    font-size: 25px;
    font-family:  "AmazonEmberligth", sans-serif;
}
.fin2{
    position: absolute;
    top: 4088px;
    left: 780px;
    font-size: 25px;
    font-family:  "AmazonEmberligth", sans-serif;

}

.fin3{
    position: absolute;
    top: 4088px;
    left: 950px;
    font-size: 25px;
    font-family:  "AmazonEmberligth", sans-serif;
}

.fin4{
    position: absolute;
    top: 4088px;
    left: 1200px;
    font-size: 25px;
    font-family:  "AmazonEmberligth", sans-serif;
}

.fin5{
    position: absolute;
    top: 4088px;
    left: 1298px;
    font-size: 25px;
    font-family:  "AmazonEmberligth", sans-serif;
}

