@font-face {
  
    font-family: "AmazonEmberBold";
    src: url('./fuentes/AmazonEmberBold.ttf')  format("opentype"),; /* Bold */        
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: "AmazonEmberLigth";
    src: url('./fuentes/AmazonEmberLight.ttf')  format("opentype"); /* Light */
    font-weight: lighter;
    font-style: normal;
}



:root{
    --background-color:black;
}
body{
    background-color: var(--background-color);
    width: 1920px;
    height: 4149px;
    background-color: black;
}
p{
    position: absolute ;
    color: white;
}

.fondo{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
}
.lupa{
    position: absolute;
    top: 37px;
    left: 63px;
    width: 36px;
    height: 36px;
}
.login{
    position: absolute;
    top: 30px;
    left: 1695px;
    width: 205px;
    height: 54px;
}

.log{
    position: absolute;
    top: 48px;
    left: 1773px;
    width: 50px;
    height: 20px;
}

.logo{
    position: absolute;
    top: 227px;
    left: 682px;
    width: 556px;
    height: 313px;
}
.sign{
    position: absolute;
    top: 755px;
    left: 730px;
    width: 458px;
    height: 104px;
    filter: opacity(1);

}
.singup{
    position: absolute;
    top: 740px;
    left: 780px;
    color: black;
    font-size: 40px;
    font-weight: inherit;
    font-family: "AmazonEmberLigth";
}

#primer{
    position: absolute;
    top: 450px;
    left: 389px;
    color: white;
    text-align: center;
    font-family: ;
    font-size: 60px;
    font-family: "AmazonEmberBold", sans-serif;
}
#segundo{
    position: absolute;
    top: 608px;
    left: 380px;
    color: white;
    text-align: center;
}


.div2{
    position: absolute;
    top: 1106px;
    left: 64px;
    width: 1792px;
    height: 567px;
}
.div3{
    position: absolute;
    top: 1717px;
    left: 64px;
    width: 1792px;
    height: 724px;
}
.i1{
    position: absolute;
    top: 1896px;
    left: 477px;
    width: 181px;
    height: 309px;
}
.i2{
    position: absolute;
    top: 1896px;
    left: 670px;
    width: 181px;
    height: 309px;
}
.i3{
    position: absolute;
    top: 1896px;
    left: 863px;
    width: 180px;
    height: 309px;
}
.i4{
    position: absolute;
    top: 1896px;
    left: 1055px;
    width: 181px;
    height: 309px;
}
.i5{
    position: absolute;
    top: 1896px;
    left: 1248px;
    width: 181px;
    height: 309px;
}
.div4{
    position: absolute;
    top: 2467px;
    left: 64px;
    width: 1792px;
    height: 567px;

}
.equis{
    position: absolute;
    top: 2650px;
    left: 876px;
    width: 169px;
    height: 169px;
}

.iphone{
    position: absolute;
    top: 3606px;
    left: 386px;
    width: 256px;
    height: 219px;
}
.mac{
    position: absolute;
    top: 3440px;
    left: 685px;
    width: 584px;
    height: 534px;
}
.pc{
    position: absolute;
    top: 3587px;
    left: 1261px;
    width: 271px;
    height: 238px;
}
.flecha{
    position: absolute;
    top: 3689px;
    left: 305px;
    width: 19px;
    height: 27px;
}
.flecha2{
    position: absolute;
    top: 3689px;
    left: 1575px;
    width: 19px;
    height: 27px;
    transform: rotate(180deg);
}
.fin1{
    position: absolute;
    top: 4088px;
    left: 600px;
    font-size: 20px;
}
.fin2{
    position: absolute;
    top: 4088px;
    left: 750px;
    font-size: 20px;

}

.fin3{
    position: absolute;
    top: 4088px;
    left: 900px;
    font-size: 20px;
}

.fin4{
    position: absolute;
    top: 4088px;
    left: 1200px;
    font-size: 20px;
}

.fin5{
    position: absolute;
    top: 4088px;
    left: 1298px;
    font-size: 20px;
}

