@font-face {
    font-family:'barlow' ;
    src: url(../fuentes/Barlow-Bold.ttf);
}
@font-face {
    font-family:'open' ;
    src: url(../fuentes/open-sauce.sans-semibold.ttf);
}
@font-face {
    font-family:'play' ;
    src: url(../fuentes/PlayfairDisplay-Black.ttf);
}
html{
    scroll-behavior: smooth;
}
a{
    color: white;
    text-decoration: none;
}
body{
    position: relative;
    background-color: black;
    overflow: scroll;
    padding: 1vw;
}
body::-webkit-scrollbar{
    width: 1vw;
    color: white;

}
body::-webkit-scrollbar-thumb{
    background-color: #ffffff80;
    border-radius: 1vw;
}
.PaginaPrincipal__Seccion1--img1{
    position: relative;
    top: 0vw;
    width: 97vw;
    height: 67vw;
    left: 0vw;
}
.PaginaPrincipal__Seccion1--logo{
    position: relative;
    font-family: 'barlow';
    color: white;
    font-size: 1.5vw;
    left: 16vw;
    top:-69vw;
}
.PaginaPrincipal__Seccion1--home{
    position: relative;
    font-family: 'open';
    color: white;
    font-size: 1vw;
    left: 63vw;
    top:-71.8vw;
}
.PaginaPrincipal__Seccion1--home :hover{
    text-decoration: underline;
    text-decoration-color: #ce9e5a;
}
.PaginaPrincipal__Seccion1--about{
    position: relative;
    font-family: 'open';
    color: white;
    font-size: 1vw;
    left: 68vw;
    top:-73vw;
}
.PaginaPrincipal__Seccion1--about:hover{
    text-decoration: underline;
    text-decoration-color: #ce9e5a;
}
.PaginaPrincipal__Seccion1--menu{
    position: relative;
    font-family: 'open';
    color: white;
    font-size: 1vw;
    left: 73vw;
    top:-74.3vw;
}
.PaginaPrincipal__Seccion1--menu:hover{
    text-decoration: underline;
    text-decoration-color: #ce9e5a;
}
.PaginaPrincipal__Seccion1--contact{
    position: relative;
    font-family: 'open';
    color: white;
    font-size: 1vw;
    left: 77.5vw;
    top:-75.5vw;
}
.PaginaPrincipal__Seccion1--contact:hover{
    text-decoration: underline;
    text-decoration-color: #ce9e5a;
}

.PaginaPrincipal__Seccion1--start{
    position: relative;
    font-family: 'play';
    color: white;
    font-size: 5vw;
    top:-70vw;
    left: 25vw;
}

.PaginaPrincipal__Seccion1--with{
    position: relative;
    font-family: 'play';
    color: white;
    font-size: 5vw;
    top:-40vw;
    left: 23vw;
}
.PaginaPrincipal__Seccion1--shop{
    position: relative;
    font-family: 'open';
    color: black;
    font-size: 1vw;
    top:-40vw;
    text-align: center;
    left: 41vw;
    width: 10vw;
    height: 2.5vw;
    background-color: #ce9e5a;
    border: #ce9e5a;
    display: flex;
    justify-content: center;
    align-items: center;
}




.PaginaPrincipal__Seccion2--img2{
    position: relative;
    top: -30vw;
    width: 50vw;
    height: 35vw;
    left: 0vw;
}
#PaginaPrincipal__Seccion2--story{
    position: relative;
    font-family: 'play';
    color: white;
    font-size: 4vw;
    top: -55vw;
    left: 55vw;
    text-transform: uppercase;
}
.PaginaPrincipal__Seccion2--line{
    position: relative;
    height: 0.2vw;
    width: 10vw;
    background-color: white;
    display: block;
    top: -17vw;
    left: 42vw;
}
.PaginaPrincipal__Seccion2--storyText{
    position: relative;
    font-family: 'open';
    color: white;
    font-size: 1vw;
    top: -53vw;
    left: 56vw;
    width: 28vw;
    line-height: 1.5vw;
}
.PaginaPrincipal__Seccion2--LearnMore{
    position: relative;
    font-family: 'open';
    color: black;
    font-size: 1vw;
    top:-52vw;
    text-align: center;
    left: 56vw;
    width: 10vw;
    height: 2vw;
    background-color: #ce9e5a;
    border: #ce9e5a;
    display: flex;
    justify-content: center;
    align-items: center;

}



.PaginaPrincipal__Seccion3--img3{
    position: relative;
    top: -35vw;
    width: 28vw;
    height: 26vw;
    left: 55vw;
}
.PaginaPrincipal__Seccion3--Perfect{
    position: relative;
    font-family: 'play';
    color: white;
    font-size: 3.5vw;
    top: -60vw;
    left: 15vw;
    text-transform: uppercase;
    width:30vw;
}
.PaginaPrincipal__Seccion3--PerfectText{
    position: relative;
    font-family: 'open';
    color: white;
    font-size: 1vw;
    top: -58vw;
    left: 15vw;
    width: 28vw;
    line-height: 1.5vw;
}
.PaginaPrincipal__Seccion3--LearnMore{
    position: relative;
    font-family: 'open';
    color: black;
    font-size: 1vw;
    top:-56vw;
    text-align: center;
    left: 15vw;
    width: 10vw;
    height: 2vw;
    background-color: #ce9e5a;
    border: #ce9e5a;
    display: flex;
    justify-content: center;
    align-items: center;
}




#PaginaPrincipal__Seccion4--Products{
    text-transform: uppercase;
    position: relative;
    font-family: 'play';
    color: white;
    font-size: 5vw;
    top:-40vw;
    left: 2vw;
}

.PaginaPrincipal__Seccion4--cuadro1{
    position: relative;
    height: 30vw;
    width: 20vw;
    border: 0.2vw solid #ce9e5a;
    display: block;
    top:-30vw;
    left: 5vw;
}
.PaginaPrincipal__Seccion4--mocha1{
    position: relative;
    font-family: 'barlow';
    color: white;
    font-size: 1.5vw;
    left: 12.5vw;
    top: -54vw;
}
.PaginaPrincipal__Seccion4--espresso1{
    position: relative;
    font-family: 'open';
    color: white;
    font-size: 1vw;
    top: -50vw;
    left: 11vw;
}
.PaginaPrincipal__Seccion4--chocolate1{
    position: relative;
    font-family: 'open';
    color: white;
    font-size: 1vw;
    top: -50vw;
    left: 11vw;
}
.PaginaPrincipal__Seccion4--milk1{
    position: relative;
    font-family: 'open';
    color: white;
    font-size: 1vw;
    top: -50vw;
    left: 11vw;
}

.PaginaPrincipal__Seccion4--LearnMore1{
    position: relative;
    font-family: 'open';
    color: black;
    font-size: 1vw;
    top: -48vw;
    text-align: center;
    left: 11vw;
    width: 8vw;
    height: 2vw;
    background-color: #ce9e5a;
    border: #ce9e5a;
    display: flex;
    justify-content: center;
    align-items: center;

}
.PaginaPrincipal__Seccion4--img1{
    position: relative;
    height: 9vw;
    width: 9vw;
    top:-80vw;
    left: 10vw;
}

.PaginaPrincipal__Seccion4--cuadro2{
    position: relative;
    height: 30vw;
    width: 20vw;
    border: 0.2vw solid #ce9e5a;
    display: block;
    top:-84.8vw;
    left: 38vw;
}
.PaginaPrincipal__Seccion4--mocha2{
    position: relative;
    font-family: 'barlow';
    color: white;
    font-size: 1.5vw;
    left: 45.5vw;
    top: -108.5vw;
}
.PaginaPrincipal__Seccion4--espresso2{
    position: relative;
    font-family: 'open';
    color: white;
    font-size: 1vw;
    top: -50vw;
    left: 11vw;
}
.PaginaPrincipal__Seccion4--chocolate2{
    position: relative;
    font-family: 'open';
    color: white;
    font-size: 1vw;
    top: -50vw;
    left: 11vw;
}
.PaginaPrincipal__Seccion4--milk2{
    position: relative;
    font-family: 'open';
    color: white;
    font-size: 1vw;
    top: -50vw;
    left: 11vw;
}
.PaginaPrincipal__Seccion4--LearnMore2{
    position: relative;
    font-family: 'open';
    color: black;
    font-size: 1vw;
    top: -48vw;
    text-align: center;
    left: 11vw;
    width: 8vw;
    height: 2vw;
    background-color: #ce9e5a;
    border: #ce9e5a;
    display: flex;
    justify-content: center;
    align-items: center;

}
.PaginaPrincipal__Seccion4--img2{
    position: relative;
    height: 9vw;
    width: 9vw;
    top:-135vw;
    left: 43.5vw;
}


.PaginaPrincipal__Seccion4--cuadro3{
    position: relative;
    height: 30vw;
    width: 20vw;
    border: 0.2vw solid #ce9e5a;
    display: block;
    top:-139.7vw;
    left: 70vw;
}
.PaginaPrincipal__Seccion4--mocha3{
    position: relative;
    font-family: 'barlow';
    color: white;
    font-size: 1.5vw;
    left: 78vw;
    top: -163vw;
}
.PaginaPrincipal__Seccion4--espresso3{
    position: relative;
    font-family: 'open';
    color: white;
    font-size: 1vw;
    top: -50vw;
    left: 11vw;
}
.PaginaPrincipal__Seccion4--chocolate3{
    position: relative;
    font-family: 'open';
    color: white;
    font-size: 1vw;
    top: -50vw;
    left: 11vw;
}
.PaginaPrincipal__Seccion4--milk3{
    position: relative;
    font-family: 'open';
    color: white;
    font-size: 1vw;
    top: -50vw;
    left: 11vw;
}
.PaginaPrincipal__Seccion4--LearnMore3{
    position: relative;
    font-family: 'open';
    color: black;
    font-size: 1vw;
    top: -48vw;
    text-align: center;
    left: 11vw;
    width: 8vw;
    height: 2vw;
    background-color: #ce9e5a;
    border: #ce9e5a;
    display: flex;
    justify-content: center;
    align-items: center;

}

.PaginaPrincipal__Seccion4--img3{
    position: relative;
    height: 9vw;
    width: 9vw;
    top:-190vw;
    left: 76vw;
}
.PaginaPrincipal__Seccion4--line{
    position: relative;
    height: 2px;
    width: 800px;
    background-color: #ce9e5a;
    display: block;
    top:4050px;
    left: 67vw;
}


.PaginaPrincipal__Seccion5--about{
    position: relative;
    font-family: 'barlow';
    color: white;
    font-size: 60px;
    left: 67vw;
    top:4200px;
}
.PaginaPrincipal__Seccion5--us1{
    position: relative;
    font-family: 'barlow';
    color: #ce9e5a;
    font-size: 60px;
    left: 67vw;
    top:62px;

}
.PaginaPrincipal__Seccion5--abouttext{
    position: relative;
    font-family: 'open';
    color: white;
    font-size: 23px;
    text-align: center;
    top:4370px;
    left: 67vw;
    width: 500px;
    line-height: 30px;
    font-weight: 100px;
}
#PaginaPrincipal__Seccion5--contact{
    position: relative;
    font-family: 'barlow';
    color: white;
    font-size: 60px;
    left: 67vw;
    top:4200px;
}
.PaginaPrincipal__Seccion5--us2{
    position: relative;
    font-family: 'barlow';
    color: #ce9e5a;
    font-size: 60px;
    left: 67vw;
    top:62px;
}
.PaginaPrincipal__Seccion5--contacttext{
    position: relative;
    font-family: 'open';
    color: white;
    font-size: 23px;
    text-align: center;
    top:4370px;
    left: 67vw;
    width: 500px;
    line-height: 30px;
    font-weight: 100px;
}
.PaginaPrincipal__Seccion5--opening{
    position: relative;
    font-family: 'barlow';
    color: white;
    font-size: 60px;
    left: 67vw;
    top:4200px;
}
.PaginaPrincipal__Seccion5--hurse{
    position: relative;
    font-family: 'barlow';
    color: #ce9e5a;
    font-size: 60px;
    left: 67vw;
    top:62px;
}
.PaginaPrincipal__Seccion5--hursetext{
    position: relative;
    font-family: 'open';
    color: white;
    font-size: 23px;
    text-align: center;
    top:4370px;
    left: 67vw;
    width: 500px;
    line-height: 30px;
    font-weight: 100px;
}
.PaginaPrincipal__Seccion5--line{
    position: relative;
    height: 2px;
    width: 800px;
    background-color: #ce9e5a;
    display: block;
    top:4700px;
    left: 67vw;
}
.PaginaPrincipal__rigths{
    position: relative;
    font-family: 'open';
    color: white;
    font-size: 20px;
    text-align: center;
    top:4710px;
    left: 67vw;
    width: 500px;
    line-height: 30px;
    font-weight: 100px;
}
.PaginaPrincipal__rigths--CL{
    position: relative;
    font-family: 'open';
    color: #ce9e5a;
    font-size: 20px;
    left: 67vw;
    top:0px;
}
